* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(44, 44, 44);
    color: white;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}