/*
Hermano adyacente o cercano
h2 + p {
    color: red;
}
*/

/*
Hermano general 

h2 ~ p {
    color: red;
}
*/

/*
Hijo

div > p {
    color: red;
}
*/

/* 
Descendiente

*/

div p {
    color: red;
}