:root {
    --primary-color: #003476;
    --secondary-color: #b4d2f7;
    --header-size: 4rem;
    --font: 1.8rem;
    --width: 100vw;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

header {
    width: var(--width);
    height: 15vh;
    background-color: var(--primary-color);
}

main {
    width: var(--width);
    height: 70vh;
    font-size: var(--font);
}

h1 {
    font-size: var(--header-size);
    color: var(--primary-color);
}

footer{
    width: var(--width);
    height: 15vh;
    background-color: var(--secondary-color);
}