* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 26, 26);
    color: white;
}

img {
    width: 100%;
}

.picture {
    width: 500px;
    height: 400px;
}